body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
}

#header-logo {
  width: 300px;
  border: 0;
  margin: 0 5px -5px 0;
}

.reveal h2 {
  text-transform: none;
}

.reveal section .logo {
  border: 0;
}

ol>li.simple{
  list-style: none;
}
.r-stack > img{
  width: 100%;
  height: auto;
}
section > .reveal h2{
  text-transform: none;
}