html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#app {
  width: 99vw;
  height: 99vh;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}

p {
  font-family: "icon-font", Arial, sans-serif;
}

#controls {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  min-height: max-content;
  z-index: 9999;
  margin: 10px;
}
#controls > button {
  margin: 5px 0px;
  padding: 5px;
  display: flex;
}

@font-face {
  font-family: "icon-font";
  src: url("static/webfont.eot");
  src: url("static/webfont.eot?#iefix") format("embedded-opentype"),
    url("static/webfont.woff") format("woff"),
    url("static/webfont.ttf") format("truetype"),
    url("static/webfont.svg#webfont") format("svg");
}
